FanapPlus.Ghasedak.Client/.vs/
FanapPlus.Ghasedak.Client/FanapPlus.Ghasedak.Client/obj/
FanapPlus.Ghasedak.Client/FanapPlus.Ghasedak.Client/bin/
FanapPlus.Ghasedak.Client/FanapPlus.Ghasedak.Client.Tests/bin/
FanapPlus.Ghasedak.Client/FanapPlus.Ghasedak.Client.Tests/obj/
FanapPlus.Ghasedak.Client/.vscode/
